USE [master]
GO
/****** Object:  Database [timetable]    Script Date: 17-May-18 11:12:59 AM ******/
CREATE DATABASE [timetable]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quan ly Sinh Vien - timetable', FILENAME = N'F:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Quan ly Sinh Vien - timetable.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quan ly Sinh Vien - timetable_log', FILENAME = N'F:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Quan ly Sinh Vien - timetable_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [timetable].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [timetable]
GO
USE [timetable]
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 17-May-18 11:12:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher](
	[name] [nvarchar](50) NULL,
	[code] [varchar](10) NOT NULL,
	[position] [nvarchar](50) NULL,
	[academic] [nvarchar](50) NULL,
	[diploma] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[note] [nvarchar](1000) NULL,
	[codedepartment] [varchar](10) NOT NULL,
	[codeview] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subjects]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subjects](
	[code] [varchar](10) NOT NULL,
	[name] [varchar](50) NULL,
	[numbercredit] [int] NULL,
	[document] [xml] NULL,
	[theory] [int] NULL,
	[task] [int] NULL,
	[practice] [int] NULL,
	[discussion] [int] NULL,
	[totalsession] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room](
	[code] [varchar](10) NOT NULL,
	[numberfloor] [int] NULL,
	[codeview] [varchar](10) NULL,
	[buildingcode] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course](
	[code] [varchar](20) NOT NULL,
	[codeview] [nvarchar](20) NULL,
	[subjectcode] [varchar](10) NOT NULL,
	[semestercode] [int] NULL,
	[courseyear] [int] NULL,
	[maxstudent] [int] NULL,
	[signedstudent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teachercourse]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teachercourse](
	[teachercode] [varchar](10) NOT NULL,
	[coursecode] [varchar](20) NOT NULL,
 CONSTRAINT [teachercoursepk] PRIMARY KEY CLUSTERED 
(
	[teachercode] ASC,
	[coursecode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coursetime]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coursetime](
	[code] [varchar](10) NOT NULL,
	[timestart] [int] NULL,
	[timeend] [int] NULL,
	[dayinweek] [nvarchar](10) NULL,
	[codeview] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courseschedule]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courseschedule](
	[code] [varchar](10) NOT NULL,
	[coursecode] [varchar](20) NOT NULL,
	[coursetimecode] [varchar](10) NOT NULL,
	[roomcode] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TIMETABLE]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[TIMETABLE]
as
select subjects.name as [mon hoc],
subjects.numbercredit as [STC], 
course.codeview as [lop mon hoc], 
teacher.name as [ten giang vien], 
coursetime.dayinweek as [thu], 
coursetime.codeview as [tiet], 
room.codeview as [giang duong], 
course.maxstudent as [so SV], 
course.signedstudent as [so SVDK]
from course
inner join courseschedule on courseschedule.coursecode=course.code
inner join teachercourse on course.code=teachercourse.coursecode
inner join teacher on teachercourse.teachercode=teacher.code
inner join subjects on course.subjectcode=subjects.code
inner join coursetime on courseschedule.coursetimecode=coursetime.code
inner join room on courseschedule.roomcode=room.code
where course.semestercode=1
GO
/****** Object:  View [dbo].[thoikhoabieuky2]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[thoikhoabieuky2]
as
select subjects.name as [mon hoc],
subjects.numbercredit as [STC], 
course.codeview as [lop mon hoc], 
teacher.name as [ten giang vien], 
coursetime.dayinweek as [thu], 
coursetime.codeview as [tiet], 
room.codeview as [giang duong], 
course.maxstudent as [so SV], 
course.signedstudent as [so SVDK]
from course
inner join courseschedule on courseschedule.coursecode=course.code
inner join teachercourse on course.code=teachercourse.coursecode
inner join teacher on teachercourse.teachercode=teacher.code
inner join subjects on course.subjectcode=subjects.code
inner join coursetime on courseschedule.coursetimecode=coursetime.code
inner join room on courseschedule.roomcode=room.code
where course.semestercode=2

GO
/****** Object:  View [dbo].[thoikhoabieuky1]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[thoikhoabieuky1]
as
select subjects.name as [mon hoc],
subjects.numbercredit as [STC], 
course.codeview as [lop mon hoc], 
teacher.name as [ten giang vien], 
coursetime.dayinweek as [thu], 
coursetime.codeview as [tiet], 
room.codeview as [giang duong], 
course.maxstudent as [so SV], 
course.signedstudent as [so SVDK]
from course
inner join courseschedule on courseschedule.coursecode=course.code
inner join teachercourse on course.code=teachercourse.coursecode
inner join teacher on teachercourse.teachercode=teacher.code
inner join subjects on course.subjectcode=subjects.code
inner join coursetime on courseschedule.coursetimecode=coursetime.code
inner join room on courseschedule.roomcode=room.code
where course.semestercode=1

GO
/****** Object:  Table [dbo].[building]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[building](
	[code] [varchar](10) NOT NULL,
	[name] [nvarchar](20) NULL,
	[campusareacode] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[campusarea]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[campusarea](
	[code] [varchar](10) NOT NULL,
	[name] [nvarchar](20) NULL,
	[locationof] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[department]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[name] [nvarchar](50) NULL,
	[code] [varchar](10) NOT NULL,
	[amount] [int] NULL,
	[adress] [nvarchar](100) NULL,
	[phone] [char](15) NULL,
	[codefaculty] [varchar](10) NOT NULL,
	[codebossdepartment] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faculty]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faculty](
	[name] [nvarchar](50) NULL,
	[code] [varchar](10) NOT NULL,
	[amount] [int] NULL,
	[adress] [nvarchar](100) NULL,
	[phone] [char](15) NULL,
	[codebossfaculty] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[building]  WITH CHECK ADD FOREIGN KEY([campusareacode])
REFERENCES [dbo].[campusarea] ([code])
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD FOREIGN KEY([subjectcode])
REFERENCES [dbo].[subjects] ([code])
GO
ALTER TABLE [dbo].[courseschedule]  WITH CHECK ADD FOREIGN KEY([coursecode])
REFERENCES [dbo].[course] ([code])
GO
ALTER TABLE [dbo].[courseschedule]  WITH CHECK ADD FOREIGN KEY([coursetimecode])
REFERENCES [dbo].[coursetime] ([code])
GO
ALTER TABLE [dbo].[courseschedule]  WITH CHECK ADD FOREIGN KEY([roomcode])
REFERENCES [dbo].[room] ([code])
GO
ALTER TABLE [dbo].[department]  WITH CHECK ADD FOREIGN KEY([codefaculty])
REFERENCES [dbo].[faculty] ([code])
GO
ALTER TABLE [dbo].[room]  WITH CHECK ADD FOREIGN KEY([buildingcode])
REFERENCES [dbo].[building] ([code])
GO
ALTER TABLE [dbo].[teacher]  WITH CHECK ADD FOREIGN KEY([codedepartment])
REFERENCES [dbo].[department] ([code])
GO
ALTER TABLE [dbo].[teachercourse]  WITH CHECK ADD FOREIGN KEY([coursecode])
REFERENCES [dbo].[course] ([code])
GO
ALTER TABLE [dbo].[teachercourse]  WITH CHECK ADD FOREIGN KEY([teachercode])
REFERENCES [dbo].[teacher] ([code])
GO
/****** Object:  StoredProcedure [dbo].[addcoursetime]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addcoursetime] (@start int,@end int,@day int)
as begin
declare @code varchar(10)
declare @view nvarchar(20)
declare @dayinweek nvarchar(10)
if not exists (select code from coursetime where timestart=@start and timeend=@end and dayinweek=@day)
select @code = ('ct'+convert(varchar(10),@start)+convert(varchar(10),@end)+convert(varchar(10),@day))
select @view = ('tiet '+convert(varchar(10),@start)+'-'+convert(varchar(2),@end))
if @day <> 8
select @dayinweek = ('thu '+convert(varchar(10),@day))
else
select @dayinweek = ('chu nhat')
insert into coursetime (code,timestart,timeend,dayinweek,codeview)
values (@code,@start,@end,@dayinweek,@view)
end
GO
/****** Object:  StoredProcedure [dbo].[convertday]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[convertday] (@day int)
as begin
select @day = case
when @day=2 then 'thu hai'
when @day=3 then 'thu ba'
when @day=4 then 'thu tu'
when @day=5 then 'thu nam'
when @day=6 then 'thu sau'
when @day=7 then 'thu bay'
when @day=8 then 'chu nhat'
end
end
GO
/****** Object:  StoredProcedure [dbo].[deletecoursetime]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deletecoursetime] (@code varchar(10)=null,@codeview nvarchar(20)=null)
as begin
declare @i int=0
delete from coursetime
where code=@code or codeview like @codeview
if @@ROWCOUNT>0
update coursetime

set @i +=1,code = ('ct'+CONVERT(varchar(10),@i))

end
GO
/****** Object:  StoredProcedure [dbo].[inthoikhoabieu]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[inthoikhoabieu] (@semester int)
as begin
select subjects.name as [mon hoc],
subjects.numbercredit as [STC], 
course.codeview as [lop mon hoc], 
teacher.name as [ten giang vien], 
coursetime.dayinweek as [thu], 
coursetime.codeview as [tiet], 
room.codeview as [giang duong], 
course.maxstudent as [so SV], 
course.signedstudent as [so SVDK]
from course
inner join courseschedule on courseschedule.coursecode=course.code
inner join teachercourse on course.code=teachercourse.coursecode
inner join teacher on teachercourse.teachercode=teacher.code
inner join subjects on course.subjectcode=subjects.code
inner join coursetime on courseschedule.coursetimecode=coursetime.code
inner join room on courseschedule.roomcode=room.code
where course.semestercode=@semester
end


----
drop proc if exists tkbgiaovien
GO
/****** Object:  StoredProcedure [dbo].[updatecoursetime]    Script Date: 17-May-18 11:13:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updatecoursetime] (@code varchar(10),@start int,@end int,@day nvarchar(10))
as begin
update coursetime
set timestart=@start, timeend=@end, dayinweek=@day
where code=@code;
end
drop proc if exists deletecoursetime
GO
USE [master]
GO
